# make sure local config stays local
local-config.el

# don't push downloaded packages; they'll be fetched on load
elpa/

# don't sync eshell history
eshell/history
eshell/lastdir

# don't sync URL cookies
url/cookies

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive